[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3

[Service]
Type=notify
EnvironmentFile=-/etc/systemd/system/k3s-agent.service.env
ExecStartPre=/sbin/modprobe br_netfilter
ExecStartPre=/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s agent --with-node-id --config {{ k3s_agent_config_path }} {{ k3s_agent_extra_args }}
KillMode=process
Delegate=yes
Restart=always
RestartSec=5s
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
